// ==========================================================================
// config
// ==========================================================================

$baseFontSize : 16;
$baseMargin : 20;
$baseWidth: 920;
$baseColumn: 280;
